<launch>
    <!-- Robot Model & Viz Parameters -->
    <arg name="model" default="$(find mildred_description)/urdf/mildred.urdf.xacro"/>
    <arg name="gui" default="true" />

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <param name="use_gui" value="$(arg gui)"/>

    <node ns="mildred" name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mildred_description)/config/mildred.rviz" />

    <include file="$(find mildred_dynamixel)/launch/dynamixel_controller.launch"/>

</launch>