<launch>
    <arg name="debug" default="true"/>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find mildred_control)/config/rosconsole.conf"/>
    <node ns="mildred" name="mildred_control" pkg="mildred_control" type="mildred_control" output="screen" respawn="false" />
    <!--<node ns="mildred" name="mildred_control" pkg="mildred_control" type="mildred_control" output="screen" respawn="false" launch-prefix="gdb -ex run &#45;&#45;args"/>-->
</launch>